/****** Set the height and width of divs ******/
:root {
  --height: 0px;
  --width: 0px;
}

/****** Drag-and-dropable divs ******/
.draggable {
  height: var(--height);
  width: var(--width);
  border: solid 2px black;
  border-radius: 0.75em;
  user-select: none;
  position: absolute;
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

/****** Create-div button ******/
.button {
  background-color: black;
  border: none;
  color: white;
  padding: 10px;
  width: 128px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 10px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  position: absolute;
}
.button:hover {
  background-color: blue;
  color: white;
}

/****** SVG patch cords ******/
#patchCords {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
  stroke-linecap: round;
  z-index: 100;
}

/****** Editable divs ******/
#flex {
  display: flex;
  display: -webkit-flex;
  position: relative;
  top: 50%;
  transform: perspective(1px) translateY(-50%);
}
#inner {
  padding: 0 20px;
  height:30px;
  line-height:30px;
  outline:none;
  font-size: 18pt;
  display: inline-block;
  margin: auto;
  color: black;
}
[contenteditable=true]:empty:before {
  content: attr(placeholder);
  display: block; /* For Firefox */
}